<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary - Edit Book</title>
    <style>
        body {
            background-color: #000000;
            color: white;
        }

        #container {
            background-color: #1C1C1C;
            width: 30vw;
            height: 70vh;
            border-radius: 10px;
            margin-top: 10vh;
        }

        input {
            width: 20vw;
            margin-top: 2vh;
            height: 6vh;
            outline: none;
        }

        form button {
            background-color: #69BB5B;
            border-radius: 5px;
            border: 0px;
            outline: none;
            font-size: 20px;
            color: white;
            padding: 10px 50px 10px 50px;
            margin-top: 5vh;
            cursor: pointer;
        }

        form button:hover {
            border: 1px solid white;
        }

        #coverInput {
            margin-top: -1vh;
        }

        form a {
            text-decoration: none;
            color: white;
        }

        form a:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }

        form p {
            margin-left: -8vw;
        }

        header a {
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

        header a:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }
    </style>
</head>
<body>

    <header>
        <a href="/">Go back</a>
    </header>

    <center>
        <div id="container">
            <br>
            <h1>Edit book</h1>

            <form method="post">
                <input type="hidden" name="oldTitle" value="<%= book.title %>">
                <input type="text" name="title" value="<%= book.title %>" placeholder="Title">
                <input type="hidden" name="oldAuthor" value="<%= book.author %>">
                <input type="text" name="author" value="<%= book.author %>" placeholder="Author">
                <input type="hidden" name="oldYear" value="<%= book.year %>">
                <input type="text" name="year" value="<%= book.year %>" placeholder="Year">
                <input type="hidden" name="oldCover" value="<%= book.cover %>">
                <input type="text" name="cover" value="<%= book.cover %>" placeholder="Cover">
                <button type="submit">EDIT</button>
            </form>
        </div>
    </center>
    
</body>
</html>