<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary - Home</title>

    <style>

        body {
            background-color: #000000;
            color: white;
        }

        #books {
            overflow-y: scroll;
        }

        .book {
            background-color: #1C1C1C;
            width: 40vw;
            height: 60vh;
            margin-top: 5vh;
            border-radius: 5px;
        }

        .book img {
            width: 200px;
            height: 250px;
            border-radius: 10px;
            margin-top: 2vh;
        }

        .book button {
            background-color: #ED6464;
            border: 0px;
            padding: 10px 20px 10px 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        .book button:hover {
            border: 1px solid white;
        }

        .book a {
            background-color: #69BB5B;
            text-decoration: none;
            border: 0px;
            padding: 10px 20px 10px 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

        header a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }

        header a:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }

    </style>
</head>
<body>
    
    <header>
        <h1>MyBrary</h1>
        <a href="/addBook">Add a book</a>
    </header>

    <h2>Your books:</h2>

    <center>
        <div id="books">
            <% books.forEach(book => {%>
                <div class="book">
                    <form method="POST">
                        <input type="hidden" name="cover" value="<%= book.cover %>">
                        <img src="<%= book.cover %>">
                        <input type="hidden" name="title" value="<%= book.title %>">
                        <h3><%= book.title %></h3>
                        <input type="hidden" name="author" value="<%= book.author %>">
                        <p>Author: <%= book.author %></p>
                        <input type="hidden" name="description" value="<%= book.description %>">
                        <p>Description: <%= book.description %></p>
                        <button type="submit">DELETE</button>
                        <a href="/editBook/<%= book.title %>" >EDIT</a>
                    </form>
                </div>
            <% }); %>
        </div>
    </center>

</body>
</html>