<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary - See books</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/6952805ec5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: black;
        }

        img {
            width: 250px;
            height: 350px;
            padding-top: 3%;
            padding-left: 2%;
            padding-bottom: 3%;
            border-radius: 20px;
        }

        .book { 
            background-color: #191919;
            margin-top: 3%;
            width: 50%;
            border-radius: 20px;
        }

        .edit {
            text-decoration: none;
            background-color: #69BB5B;
            padding: 15px;
            border-radius: 10px;
            color: black;
            font-size: 20px;
            margin-right: 10px;
        }

        .buttons {
            padding-bottom: 20px;
        }

        button {
            background-color: #ED6464;
            padding: 15px;
            border-radius: 10px;
            border: 0px;
            outline: none;
            cursor: pointer;
            font-size: 20px;
            color: black;
        }

        h1, p {
            color: white;
        }

        .headerLink {
            text-decoration: none;
            color: white;
            font-size: 25px;
        }

        .headerLink:hover {
            padding-bottom: 1px;
            border-bottom: 1px solid white;
        }
    </style>
</head>
<body>

    <header>
        <a class="headerLink" href="/">< Go back</a>
        <br>
        <a class="headerLink" href="/addBook">Add book ></a>
    </header>

    <% books.forEach(book => { %>
        <center>
            <form method="POST" class="book">
                <center>
                    <img src=<%= book.cover %>>
                    <br>
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <h1 class="title">Title: <%= book.title %></h1>
                    <p class="description"><strong>Description:</strong> <%= book.description %></p>
                    <p class="author"><strong>Author:</strong> <%= book.author %></p>
    
                    <br>
    
                    <div class="buttons">
                        <a class="edit" href="/edit/<%= book.title %>"><i class="far fa-edit"></i></a>
                        <button type="submit"><i class="far fa-trash-alt"></i></button>
                    </div>
                </center>
            </form>
        </center>
    <% }); %>
    
</body>
</html>